.wrapper{
    width: 50vw;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .4);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .14);
    border-radius: 12px;
    padding: 5% 10%;
}

@media screen and (min-width: 800px) {
    .wrapper h1{
        font-size: 4rem;
        text-align: center;
    }
  }
@media screen and (max-width: 700px) {
    .remember-forget{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 100px; */
        padding-left: 8%;
        font-size: 8px;
    }
    .labeled input{
        width: 10%;
        height: 10%;
        margin-top: 20px;
    }
    .remember-forget label{
        padding: 2%;
        margin-top: 15px;
        /* font-size: 0.6em; */
    }
    .remember-forget a{
        padding: 2%;
        margin-top: 10px;
        /* padding-right: -5%; */
        /* font-size: 0.7em; */
    }
  }

.wrapper h1{
    font-size: 1.4rem;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-bottom: 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .6);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    opacity: 0.7;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    opacity: 0.7;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    margin: -15px 0 0px;
    padding-top: 5%;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.submit-btn{
    margin-top: 3%;
}

.wrapper button{
    width: 65%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover{
    background: rgb(95, 199, 247);
    color: #fff;
    transition: 0.2s ease-in-out;
}

.wrapper .register{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
    color: rgb(95, 199, 247);
}

.errordisplay{
    margin-top: 1px;
    align-items: center;
    color: rgb(233, 213, 1);
}